In [3]:
import sqlite3

conn = sqlite3.connect('nominations.db')

schema = conn.execute("pragma table_info(nominations);").fetchall()
first_ten = conn.execute('select * from nominations LIMIT 10').fetchall()

for row in schema:
    print(row)
for row in first_ten:
    print(row)

(0, 'Year', 'INTEGER', 0, None, 0)
(1, 'Category', 'TEXT', 0, None, 0)
(2, 'Nominee', 'TEXT', 0, None, 0)
(3, 'Won', 'INTEGER', 0, None, 0)
(4, 'Movie', 'TEXT', 0, None, 0)
(5, 'Character', 'TEXT', 0, None, 0)
(2010, 'Actor -- Leading Role', 'Javier Bardem', 0, 'Biutiful', 'Uxbal')
(2010, 'Actor -- Leading Role', 'Jeff Bridges', 0, 'True Grit', 'Rooster Cogburn')
(2010, 'Actor -- Leading Role', 'Jesse Eisenberg', 0, 'The Social Network', 'Mark Zuckerberg')
(2010, 'Actor -- Leading Role', 'Colin Firth', 1, "The King's Speech", 'King George VI')
(2010, 'Actor -- Leading Role', 'James Franco', 0, '127 Hours', 'Aron Ralston')
(2010, 'Actor -- Supporting Role', 'Christian Bale', 1, 'The Fighter', 'Dicky Eklund')
(2010, 'Actor -- Supporting Role', 'John Hawkes', 0, "Winter's Bone", 'Teardrop')
(2010, 'Actor -- Supporting Role', 'Jeremy Renner', 0, 'The Town', 'James Coughlin')
(2010, 'Actor -- Supporting Role', 'Mark Ruffalo', 0, 'The Kids Are All Right', 'Paul')
(2010, 'Actor -- Supporting Role', 'Geoffrey Rush', 0, "The King's Speech", 'Lionel Logue')

In [5]:
conn.execute('''CREATE TABLE ceremonies(
id integer PRIMARY KEY,
Year integer,
Host text);''')

years_hosts = [(2010, "Steve Martin"),
               (2009, "Hugh Jackman"),
               (2008, "Jon Stewart"),
               (2007, "Ellen DeGeneres"),
               (2006, "Jon Stewart"),
               (2005, "Chris Rock"),
               (2004, "Billy Crystal"),
               (2003, "Steve Martin"),
               (2002, "Whoopi Goldberg"),
               (2001, "Steve Martin"),
               (2000, "Billy Crystal"),
            ]

conn.executemany('INSERT INTO ceremonies(Year, Host) VALUES(?,?);', years_hosts)

test1 = conn.execute('select * from ceremonies LIMIT 10').fetchall()
test2 = conn.execute("pragma table_info(ceremonies);").fetchall()
print(test1)
print(test2)

ERROR: An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 11))

OperationalError: table ceremonies already exists

In [6]:
print(test1)
print(test2)

[(1, 2010, 'Steve Martin'), (2, 2009, 'Hugh Jackman'), (3, 2008, 'Jon Stewart'), (4, 2007, 'Ellen DeGeneres'), (5, 2006, 'Jon Stewart'), (6, 2005, 'Chris Rock'), (7, 2004, 'Billy Crystal'), (8, 2003, 'Steve Martin'), (9, 2002, 'Whoopi Goldberg'), (10, 2001, 'Steve Martin')]
[(0, 'id', 'integer', 0, None, 1), (1, 'Year', 'integer', 0, None, 0), (2, 'Host', 'text', 0, None, 0)]

In [9]:
conn.execute('PRAGMA foreign_keys = ON;')

In [15]:
conn.execute("CREATE TABLE nominations_two(id integer PRIMARY KEY, category text, nominee text, movie text, character text, won text,ceremony_id integer, FOREIGN KEY(ceremony_id) REFERENCES ceremonies(id))")

In [16]:
joined_nominations = conn.execute('''SELECT nominations.category, nominations.nominee, nominations.movie, nominations.character, nominations.won, ceremonies.id
FROM nominations
INNER JOIN ceremonies ON
nominations.year == ceremonies.year
;
''').fetchall()

In [18]:
conn.executemany(''' INSERT INTO nominations_two(category, nominee, movie, character, won, ceremony_id) 
VALUES(?,?,?,?,?,?)
''', joined_nominations)

In [19]:
print(conn.execute('select * from nominations_two limit 5').fetchall())

[(1, 'Actor -- Leading Role', 'Javier Bardem', 'Biutiful', 'Uxbal', '0', None), (2, 'Actor -- Leading Role', 'Javier Bardem', 'Biutiful', 'Uxbal', '0', 1), (3, 'Actor -- Leading Role', 'Jeff Bridges', 'True Grit', 'Rooster Cogburn', '0', 1), (4, 'Actor -- Leading Role', 'Jesse Eisenberg', 'The Social Network', 'Mark Zuckerberg', '0', 1), (5, 'Actor -- Leading Role', 'Colin Firth', "The King's Speech", 'King George VI', '1', 1)]

In [20]:
conn.execute('DROP TABLE nominations')

In [21]:
conn.execute('ALTER TABLE nominations_two RENAME TO nominations')

In [23]:
conn.execute(''' CREATE TABLE movies( id integer PRIMARY KEY,
movie text);
''')

conn.execute(''' CREATE TABLE actors(id integer PRIMARY KEY,
actor text);
''')

OperationalError: table movies already exists

In [24]:
conn.execute('''CREATE TABLE movie_actors(id integer PRIMARY KEY,
movie_id integer,
actor_id integer,
FOREIGN KEY(movie_id) REFERENCES movies(id),
FOREIGN KEY(actor_id) REFERENCES actors(id));
''')